<div class="navbar d-flex">
  <div class="p p-nav" style="width:50%;margin-top:1em">
    logo
  </div>
  <div class="manu d-flex p p-nav" style="width:50%" >
    <div id="manu-icon">
      <span>manue</span>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
      </svg>
    </div>
    <ul>
      <li>Home</li>
      <li style="margin-right: 10px;margin-left: 10px;">Test</li>
      <li>test</li>
    </ul>
    
  </div>
  
</div>


<div id="manu-mobile" class="p p-nav">
  <ul>
    <li>Home</li>
    <li>Test</li>
    <li>test</li>
  </ul>
</div>
