
<div class="d-flex" style="justify-content: center; width: 100%;">
  <div class="scroler">
    <div class="down-arrow">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
      </svg>
    </div>
    
  </div>
</div>
<div class="section-content p p-nav d-flex" style="justify-content: center;">
  <div >
    <h1>The Recipe</h1>
    <div>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero inventore aperiam autem iusto ipsam fuga a corporis! Temporibus optio magnam vero. Odit eligendi, dignissimos voluptatum voluptates nihil, incidunt deleniti ea sint aperiam hic illo suscipit eos ex laboriosam omnis architecto tempore recusandae et rem mollitia impedit quidem assumenda? Cum quia dolorum non adipisci debitis a quod quisquam. Eveniet, ea neque assumenda magni cumque numquam! Autem, dicta quaerat iure hic neque, et suscipit pariatur, distinctio nisi debitis aut sequi quisquam a.
    </div>
   
  </div>
  
</div>
<!-- Search recipe section -->
<div class="d-flex" style="justify-content: center;margin-top: 40px;">
    <form class="custom__form" style="width: 30%;">
      <div class="d-flex" style="margin-top: 10px;">
      
          <label for="inputPassword" style="width:35%"  class="d-flex">Title <span>*</span></label>
       
       
      
          <input class="custume_form_controller" style="width:65%" type="text"   />
        
      </div>
      <div class="d-flex" style="margin-top: 10px;">
        
          <label for="inputPassword" style="width:35%" class="d-flex">Release <span>*</span></label>
      
       
        
          <input class="custume_form_controller" style="width:65%" type="text"   />
        
      </div>
      <div class="d-flex" style="margin-top: 10px;">
      
          <label for="inputPassword" style="width:35%" class="d-flex">Type <span>*</span></label>
        
       
       
          <input class="custume_form_controller" style="width:65%" type="text"   />
        
      </div>
      <div class="d-flex justify-content-end" style="margin-top: 10px;">
        <button>Submit</button>
      </div>
    </form>
</div>

