.scroler{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    transform:rotate(45deg);
    margin-top: -50px;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.down-arrow{

    color: rgb(30, 30, 31);
    transform: rotate(317deg);

}

.section-content{
    text-align: center;
}


#table{
    text-align: center;
    border-collapse: collapse;
}

.table-rows {
    transition: all 0.3s ease;
    cursor: pointer;
}

.items {
    padding: 15px 35px;
    font-size: 19px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

.table-rows:nth-child(even) {
    background-color: rgba(95, 197, 208, 0.21);
}

.table-rows:nth-child(odd) {
    background-color: rgba(55, 131, 138, 0.17);
}

.header-row {
    background-color: rgba(255, 255, 255, 0.31);
}

.table-rows:hover {
    background-color: #652479;
    transform: scale(1.1);
}
