/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.google.com/specimen/Rakkas');
@import url('https://fonts.google.com/specimen/Source+Sans+Pro');
@import '~keen-slider/keen-slider.min.css';
body{
    
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px;
    font-size: large !important;
}

.weava-drop-area-wrapper{
    display:none;
}

.position__absolute{
    position: absolute;
}
.position_relative{
    position: relative;
}

.d-flex{
    display: flex;
    flex: 1 0 auto
}

.align-content-center{
    align-items: center;
} 

.justify-content-start{
    justify-content: start;
}

.justify-content-end{
    justify-content: end;
}

.container{
    padding-left: 10px;
    padding-right: 10px;
}

#read__more{
    width: 170px;
    border: 1px solid white;
    background-color: transparent;
    padding: 10px;
    color: white;
    font-weight: 600;
}
.normal-text{
    color: whitesmoke;
}
.mt{
    margin-top: 25px;
}
.p{
    padding: 5px 30px;
}

.custom__form{
    div{
        min-height: 36px;
    }
}

.custume_form_controller{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.justify-content-center{
    justify-content: center;
}

.table-section{
    display: none;
}

.mr{
    margin-right: 173px;
}

@media  (min-width: 900px) {
    .ov-content{
        width: 35%;
        height: 100px;
        padding-top: 150px;
    }

    .p{
        padding: 5px 0px 0 173px;

    }
    .p-nav{
        padding: 5px 173px;
    }

    .table-section{
        display: block;
        width: 100%;
        table{
            width: 100%;
        }
    }
    .mr{
        margin-right: 30px;
    }
  
}

