.overlay{
   
    background: #000000;  /* fallback for old browsers */
    height: 100%;
    width: 100%;
    top:0;
}
.h1{
    font-size: 50px;
    margin-bottom: 25px;
    font-weight: 600;
    font-family: 'Rakkas' !important;
    font-size: 38px;
    
}

.overlay-content{
    width: 100%;
    padding: 10px;
   
    
}




